
.card {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 290px;
    height: 307px;
    border-radius: 12px;
    box-shadow: 0px 2px 4px 0px #2124290D;
    background-color: var(--white);
    padding: 30px;
}

.card__title {
    margin: 0;
    font-size: 21px;
    font-weight: 500;
    line-height: 24.61px;
}
