.toggler {
    display: inline-flex;
    gap: 12px;
    align-items: center;
}

.toggler__input {
    opacity: 0;
    position: absolute;
    left: -100vw;
}

.toggler__control {
    box-sizing: border-box;
    width: 52px;
    height: 28px;
    background-color: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 2px;
}

.toggler__icon {
    width: 24px;
    height: 24px;
    background: var(--grey-2);
    border-radius: 50%;
}

.toggler__input:checked ~ .toggler__state .toggler__control {
    background-color: #4263EB;
    border: 1px solid #4263EB;
    justify-content: end;
}

.toggler__input:checked ~ .toggler__state .toggler__icon {
    background: var(--white);
}

.toggler__text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--grey-4);
}

.toggler__input:focus ~ .toggler__text {
    text-decoration: underline;
}

.toggler__input:disabled ~ .toggler__state .toggler__control {
    background-color: var(--grey-2);
    border: 1px solid var(--grey-2);
    justify-content: start;
}

.toggler__input:disabled  ~ .toggler__state .toggler__icon {
    background: var(--grey-3);
}