.page {
    color: var(--black);
}

.page__line {
    margin: 0;
    background-color: var(--grey-2);
	height: 1px;
    border: none;
}

@media screen and (max-width: 375px) {
    .page {
        color: var(--grey-4);
    }
}