.main {
    background-color: #F9FAFC;
    padding: 68px 165px;
}

.main__grid {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.page__componentMain .main__grid {
    background-color: var(--white);
    box-shadow: 0px 2px 4px 0px #2124290D;
    border-radius: 12px;
}