.radioSet {
    display: inline-block;
    position: relative;
}

.radioSet__title {
    margin: 0;
    margin-bottom: 13px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-align: left;
    text-transform: uppercase;
    color: var(--grey-3);
}

.radio {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
}

.radio__input {
    opacity: 0;
    position: absolute;
    left: -100vw;
}

.radio__state {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 12px;
}

.radio__control {
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    background-color: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio__icon {
    display: none;
}

.radio__input:checked ~ .radio__state .radio__control {
    border: 2px solid #4263EB;
}

.radio__input:checked ~ .radio__state .radio__icon {
    display: block;
}

.radio__text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--grey-4);
}

.radio__input:focus ~ .radio__text {
    text-decoration: underline;
}

.radio__input:disabled ~ .radio__state .radio__control {
    background-color: var(--grey-2);
    border: 1px solid var(--grey-2);
}

.radio__input:disabled  ~ .radio__state .radio__icon {
    display: none;
}