.skeletonCard {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--grey-3);
    padding: 24px;
    padding-right: 40px;
    border-radius: 8px;
}

.skeletonCard__icon {
    width: 64px;
    height: 64px;
    margin: 0 16px 24px 0;
    background: var(--grey-2);
    border-radius: 50%;
}

.skeletonCard__iconText {
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    margin-bottom: 24px;
    padding-top: 4px;
    align-items: center;
    }

.skeletonCard__text {
    flex-basis: 100%;
    height: 20px;
    margin-bottom: 8px;
    background: linear-gradient(92.51deg, var(--grey-2) 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, var(--grey-2) 102.52%);
}