.footer {
    font-family: 'Inter', sans-serif;
    padding: 39px 160px 136px;

}

.footer__heading {
    margin: 32px auto;
    font-size: 38px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
}

.footer__text {
    margin: 0 auto;
    max-width: 640px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}