html, body {
    height: 100%;
}

.page {
    min-height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 2560px) {
    .page {
        background-image: url("./public/forest_2560.jpg");
    }
}

@media (max-width: 1024px) {
    .page {
        background-image: url("./public/forest_1024.jpg");
    }
}

@media (max-width: 768px) {
    .page {
        background-image: url("./public/forest_768.jpg");
    }
}

@media (max-width: 400px) {
    .page {
        background-image: url("./public/forest_400.jpg");
    }
}